asgiref==3.8.1
crispy-tailwind==1.0.3
Django==5.2.1
django-crispy-forms==2.4
django-modeltranslation==0.19.14
pillow==11.2.1
sqlparse==0.5.3
gunicorn==22.0.0  # Gunicorn uchun stabil versiya
psycopg2-binary==2.9.9  # PostgreSQL uchun
dj-database-url==2.2.0  # Ma'lumotlar bazasi URL sini boshqarish uchun
whitenoise==6.7.0  # Statik fayllarni boshqarish uchun
